name: Deploy .NET Fullstack

on:
  push:
    branches: ["main"]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: "8.0.x" # Hoặc 6.0, 7.0 tùy project bạn tạo

      - name: Publish Code
        # Lệnh này sẽ build cả C# lẫn copy file wwwroot ra thư mục publish
        run: dotnet publish **/*.csproj -c Release -o ./publish

      - name: Upload to Somee
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          local-dir: ./publish/
          server-dir: /www.dh52201267oss.somee.com/ # Đường dẫn Somee của bạn
